.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: white;
}

.App-header {
  background-color: #1c5ee2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 24px;
}
.App-header ul {
  list-style: none;
  margin: 12px;
  color: white;
}
.App-header a {
  text-decoration: none;
  color: white;
}
.App-link {
  color: #61dafb;
}